*{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  padding: 0 10px;
  text-align: center;
  background-color:cadetblue
}

.links{
  text-align: center;
}
a{
  text-decoration: none;
  color: cadetblue;
  padding: 0 10px;
  font-style: italic;
  
}

a:hover{
  color: chocolate;
}

a:active{
  color: blueviolet;
}

h2{
  text-decoration: underline;
  color: cadetblue;
}